package web

templ HalResponse(message string) {
	<div id="hal" class="mt-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
		<p class="font-bold">HAL 9000:</p>
		<p>{ message }</p>
	</div>
}
